body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 7% 15%;
}

/* Section  */

.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: #fff;
}

/* Heading Section */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading{
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Title Section */

#title{
    text-align: left;
}

#title .container-fluid{
    padding: 3% 7% 15%;
}

/* Navigation Bar */

nav{
    margin: 0 0 4.5rem;
}

.navbar-brand{
    font-size: 2.3rem;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-weight: 300;
    font-size: 1.2rem;
}

/* Download Button */

.download-button{
    font-size: 1.3rem;
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image{
    transform: rotate(25deg);
    width: 60%;
    position: relative;
    left: 18%;
}

/* Feautres section */

.feature-box{
    padding: 5%;
}

.feature-title{
    font-weight: 500;
    font-size: 1.5rem;
}
/* Font awesome */

.f-awesome{
    color: #ef8172;
    margin-bottom: 1rem;
}

.f-awesome:hover{
    color: #ff4c68;    
}

/* Testimonials section */

#testimonials{
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin-top: 20px;
}

.testimonial-text{
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Press section */

#press{
    background-color: #ef8172;
    padding-bottom: 3%; 
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

.price-text{
    font-size: 2rem;
    line-height: 1.5;
}

/* Footer Section */

.footer-icon{
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
      text-align: center;
    }
  
    .title-image {      
      transform: rotate(0);
      position: static;
      padding-top: 2.5rem;
    }
}